@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.light {
  --color-primary: 63 81 181;
  --color-secondary: 255 178 71;
  --color-background: 255 255 255;
  --color-foreground: 0 0 0;
  --color-neutral-50: 248 250 252;
  --color-neutral-100: 100 116 139;
  --color-neutral-200: 71 85 105;
  --color-neutral-300: 51 65 85;
  --color-neutral-400: 30 41 59;
  --color-neutral-500: 15 23 42;
}

.dark {
  --color-primary: 0 180 180;
  --color-secondary: 245 0 86;
  --color-background: 23 25 28;
  --color-foreground: 255 255 255;
  --color-neutral-50: 2 6 23;
  --color-neutral-100: 100 116 139;
  --color-neutral-200: 148 163 184;
  --color-neutral-300: 203 213 225;
  --color-neutral-400: 226 232 240;
  --color-neutral-500: 241 245 249;
}

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }

  body {
    @apply transition-colors duration-300 ease-in-out;
    @apply bg-gradient-to-b from-primary/20 via-transparent to-secondary/20 dark:from-primary/10 dark:to-secondary/5 lg:bg-gradient-to-bl;
  }
}

@layer components {
  /* Text Styles */
  .text-heading {
    @apply text-4xl font-medium tracking-tight text-neutral-500 sm:text-5xl;
  }

  .text-subheading {
    @apply text-2xl font-thin tracking-tight text-neutral-400 sm:text-4xl;
  }

  .text-body {
    @apply leading-normal text-neutral-300;
  }

  /* Layout */
  .layout-container {
    @apply mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0;
  }

  /* Icons */
  .social-icon {
    @apply h-6 w-6 fill-current text-neutral-200 transition-colors duration-300 hover:text-primary;
  }
}
